# Laravel
/vendor/
/node_modules/
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.env
/.env.backup
/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
*.log
*.sqlite
*.sqlite-journal
.DS_Store
Thumbs.db

# Docker
!docker/nginx/
!docker/php/
!docker/mysql/
docker-compose.override.yml

# Elasticsearch
/data/
/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
/coverage
/.phpunit.cache